In [1]:
import time, sys, os
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

## Inputs

In [2]:
# string_in = "pasco house plot number 6, old delhi gurgaon road, industrial estate,sector 18, gurugram, haryana, 122015"
string_in = "T R SAWHNEY MOTORS PVT. LTD. 9-10 /3 ,LAXMAN HOUSE"

## Scarping

In [3]:
os.system("python3 scrape.py \"" + string_in + "\"")

/home/rishabh/Desktop/EY/Google_Review/scrape.py:38: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"/home/rishabh/Desktop/EY/chromedriver")

4

0

# Loading Scraped Data

In [4]:
fin_name = string_in.replace("\\", "").replace("/", "") + ".csv"
fin_name = "_".join(fin_name.split())
Df = pd.read_csv("output/" + fin_name, index_col=0)
Df

                                                 Text  Rating  Category
0   #TR Sawhney#Best Deal in Maruti I'm very Happy...     5.0  Relavent
1   Smooth and fast ‚è©‚è© transaction and very helpfu...     5.0  Relavent
2   #Tr sawhney motors# best deal in Maruti I have...     5.0  Relavent
3   I have purchase wagon R petrol I'm very Happy ...     5.0  Relavent
4   #Tr Sawhney #I have purchase Ertiga Petrol I'm...     5.0  Relavent
5   your asst. manager mr punneet ia really a good...     5.0  Relavent
6   i am writing to thank you ü§†‚ù§Ô∏èfor the quality o...     5.0  Relavent
7   I have purchase wagon r petrol Mr Puneet very ...     5.0  Relavent
8   Pathetic experience from this dealer.. Bought ...     1.0  Relavent
9   Nexa Team\n\nYou may be doing well in sales bu...     1.0  Relavent
10                               Wonderful experience     5.0    Newest
11  Happy to buy new car from tr sawhney motors da...     5.0    Newest
12                               Excellent experience     5.0    Newest
13                               Excellent experience     5.0    Newest
14  Sanjay bro iis very nice person this is very e...     5.0    Newest
15                               Excellent experience     5.0    Newest
16                               Wonderful experience     5.0    Newest
17                 Very nice experience with all team     5.0    Newest
18                              Wonderful experience.     5.0    Newest
19    Excellent experience with trsawhney dariya ganj     5.0    Newest